h1 {font-family: 'Merienda One', 'Brush Script MT', cursive;
color: antiquewhite; fo
}
{
padding-top: 20px;
}

header {
    background-image:url("https://wallpapercave.com/wp/wp7456213.jpg") 
}
header > p
{
    text-align: center;
    padding-bottom: 5px;
    color: antiquewhite;
}

a {color: antiquewhite;}

body
{
    background-color: bisque;
}
p {text-transform: capitalize;}

h1, h2 
{
    text-align: center;
}


nav 
{
    background-image:url("https://wallpapercave.com/wp/wp7456213.jpg");
    text-align: center;
    padding: 10px;
    
}

li {
    list-style: none;
    text-transform: capitalize; 
    
}

.circle
{ 
        list-style: none;
        padding : 15px;
        border: 2px solid;
        height: 50px;
        width: 50px;
        border-radius:50px;
        text-align:center; 
        display: inline-table       
}

	

a:hover {
	text-decoration: none;
	color: chocolate;
}

footer {
	background-image:url("https://wallpapercave.com/wp/wp7456213.jpg");
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: antiquewhite;
    font-weight: bold;
}

footer > a {
	color: antiquewhite;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: antiquewhite;
    font-weight: bold;
}

fieldset {
	border: none;
	margin-top: 20px;
}
