h1 {font-family: 'Merienda One', 'Brush Script MT', cursive;
color:rgb(0, 0, 0);
padding-top: 20px;
}

header {
    background-image:url("https://wallpapercave.com/wp/wp7456213.jpg") 
}
header > p
{
    text-align: center;
    padding-bottom: 5px;
}

body
{
    background-color: bisque;
}
p {text-transform: capitalize;}

h1, h2 
{
    text-align: center;
}


nav 
{
    background-color: rgb(158, 51, 51);
    text-align: center;
    padding: 10px;
}

li {
    list-style: none;
    text-transform: capitalize; 
    
}

.circle{ 
        list-style: none;
        padding : 15px;
        border: 2px solid;
        height: 50px;
        width: 50px;
        border-radius:50px;
        text-align:center; 
        display: inline-table
        
}